/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif; 
font-family: 'Poppins', sans-serif;
*/
body{
	margin:0;
	padding:0;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color:#888888;
	background: #fff;
}
p{
	font-size: 13px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color:#888888;
}
.rs_site_wraper{
	margin:0;
	padding:0;
	display: block;
}
img{
	display: block;
	margin:0;
	padding:0;
	border:0 none;
	max-width: 100%;
}
.btn-default {
	background: #0D1A5B;
	padding: 10px 40px;
	border-radius: 50px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: none;
	display: inline-block;
	margin: 0;
	transition: all .5s;
}
.btn-default:hover{
	background: #fff;
	color:#0D1A5B;
}
.btn_black {
	background: #000;
}

.top_section {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
	box-shadow: 0 1px 0px 0px rgba(0,0,0,.3),0 4px 11px 0px rgba(0,0,0,0.05);
}
.top_section .container{
	position: relative;
	height: 12px;
}
.top_section .lng_selector {
	position: absolute;
	background-image: url('../images/lng_bg.png');
	top: 100%;
	left: 25%;
	background-size: 100% 100%;
	padding: 0px 50px 11px 50px;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: -2px;
}
.top_section .lng_selector:before{}
.top_section .lng_selector:after{}
.top_section .lng_selector .dropdown{}
.top_section .lng_selector .dropdown .dropdown-toggle:focus,
.top_section .lng_selector .dropdown .dropdown-toggle {
	color: #888888;
	opacity: 1;
	background: transparent;
	border: 0 none;
	padding: 0 30px 15px 30px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: Montserrat;
	margin-top: -4px;
	box-shadow: none;
}
.top_section .lng_selector .dropdown-menu{}
.top_section .lng_selector .dropdown-menu a{}
.top_section .lng_selector .dropdown-menu a:hover{}
.header_section {
	position: absolute;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 1;
}
.header_section .logo{}
.header_section .logo img{}
.header_section .navbar-toggler{}
.header_section .navbar-toggler span{}
.header_section .navbar {
	background: transparent !important;
	border-bottom: 2px solid rgba(255,255,255,.3);
	height: auto;
	padding: 14px 0 9px 0;
}
.header_section .navbar-nav{
	position: relative;
}
.header_section .navbar-nav:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	width: 100%;
	height: 3px;
	margin-top: 38px;
}
.header_section .navbar-nav li{}

.header_section .navbar-nav>li>a {
	color: #fff !important;
	font-size: 15px;
	font-family: Montserrat;
	font-weight: 500;
	padding: 0 15px !important;
	overflow: hidden;
	transition: all .5s;
}
.header_section .navbar-nav li:last-child a{
	padding-right: 0 !important;
}
.header_section .navbar-nav li:first-child a{
	padding-left:0  !important;
}
.header_section .navbar-nav>li.active>a,
.header_section .navbar-nav li a:hover{
	font-weight: 600;
}
.header_section .navbar-nav li a i {
	font-size: 19px;
	float: right;
	margin: 0 0 0 3px;
	line-height: 22px;
}
.main_slider_section{}
.main_slider_section .rs_slider_next, 
.main_slider_section .rs_slider_prev {
	display: block !important;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	z-index: 100;
	border: 1px solid #fff;
	color: #fff;
	font-size: 37px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	left: 110px;
	margin-top: -25px;
	cursor: pointer;
	opacity: .5;
	transition: all .5s;
}
.main_slider_section .rs_slider_next{
	left: auto;
	right: 110px;
}
.main_slider_section .rs_slider_next:hover, 
.main_slider_section .rs_slider_prev:hover{
	opacity: 1;
	background: #fff;
	color:#0D1A5B;
}
.main_slider_section .slider_main{}
.main_slider_section .slider_main .slider_item{}
.main_slider_section .single_slide {
	margin: 0;
	padding: 0;
	background-image: url('../images/slider_banner.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.main_slider_section .slider_text {
	margin: 0;
	padding: 300px 0;
}
.main_slider_section .slider_text h2 {
	font-size: 75px;
	font-weight: 700;
	font-family: Montserrat;
	color: #fff;
	line-height: 79px;
	margin: 0;
	padding: 0;
}
.main_slider_section .slider_text h5 {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	font-family: Montserrat;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 0 0 51px 0;
	padding: 0;
}
.main_slider_section .slider_text .btn_black {
	margin-top: 66px;
}
.home_box_section {
	background: #AFAFAF;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	height: 240px;
}
.single_home_box {
	display: block;
	background: #fff;
	width: 320px;
	min-height:290px; 
	max-width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 70px 30px 30px 30px;
	box-sizing: border-box;
	box-shadow: 0 0 7px rgba(0,0,0,.2);
	position: relative;
	top: -50%;
	text-decoration: none;
	text-align: center;
	transition: all .5s;
}
.single_home_box:hover{
	text-decoration: none;
	background: #0d1a5b;
	margin-top:-30px;
}
.single_home_box img {
	display: inline-block;
	margin: 0 auto 30px auto;
	padding: 0;
	overflow: hidden;
}
.single_home_box img.icon_hover,
.single_home_box:hover img{
	display: none;
}
.single_home_box:hover img.icon_hover{
	display: inline-block;
}
.single_home_box h2 {
	font-size: 20px;
	font-weight: 700;
	font-family: Lato;
	margin: 0;
	padding: 0;
	color: #222222;
}
.single_home_box:hover h2{
	color:#fff;
}
.single_home_box p {
	font-size: 16px;
	font-weight: 400;
	color: #707070;
	margin: 12px 0 0 0;
	display: block;
	visibility: hidden;
	opacity: 0;
}
.single_home_box:hover p{
	visibility: visible;
	opacity: 1;
	color:#fff;
}
.home_call_to_action {
	text-align: center;
	display: block;
	background: #ae841e;
	padding: 18px 0;
}
.home_call_to_action a {
	display: block;
	z-index: 100;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-family: Lato;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 5px;
	word-spacing: 9px;
	text-decoration: none;
}
.main_footer {
	background: #DEDEDE;
	display: block;
	margin: 0;
	clear: both;
	float: none;
	padding:0;
}
.main_footer .footer_widgets{
	padding: 10px 0 10px 0;
}
.main_footer .footer_widget {
	margin: 0;
	padding: 26px 0;
}
.main_footer .footer_logo_widget {
	padding-right: 70px;
}
.main_footer .footer_logo {
	display: block;
	margin: 28px 0 0 0;
	padding: 0;
	max-width: 100%;
	text-decoration: none;
}
.main_footer .footer_logo img{
	display: block;
	margin: 0;
	padding: 0;
	max-width: 100%;
}
.main_footer .news_later_form {
	width: 60%;
}
.main_footer .news_later_form form{}
.main_footer .news_later_form h2 {
	font-size: 30px;
	font-weight: 400;
	color: #8b8b8b;
	font-family: Montserrat;
	display: block;
	text-align: center;
	margin: 0 0 16px 0;
	padding: 0;
}
.main_footer .news_later_form .form_news_later {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding: 10px;
}
.main_footer .news_later_form .input_box {
	float: left;
	margin: 0;
	padding: 0;
}
.main_footer .news_later_form .input_box input {
	width: 490px;
	height: 50px;
	border-radius: 40px;
	padding-left: 25px;
	padding-right: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,.05);
	outline: none !important;
	border: 0 none !important;
}
.main_footer .news_later_form  .btn{
	height: 50px;
	margin-left: 13px;
}
.main_footer .fotter_social {
	text-align: center;
}
.main_footer .fotter_social h2 {
	font-size: 15px;
	font-family: Lato;
	font-weight: 700;
	color: #363636;
	text-align: center;
	display: block;
	margin: 28px 0 11px 0;
	padding: 0;
}
.main_footer .fotter_social .social_list {
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
}
.main_footer .fotter_social .social_list a {
	display: block;
	float: left;
	padding: 0;
	color: #A1A1A1;
	font-size: 24px;
	margin: 4px 13px;
	transition: all .5s;
}
.main_footer .fotter_social .social_list a:hover{
	color:#0C1A5A;
}
.copyright_section {
	text-align: center;
	background: #FFFFFF;
	padding: 22px 0;
}
.copyright_section p {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: 300;
	font-family: Lato;
	color: #a1a1a1;
	line-height: 20px;
}

.page_banner {
	display: block;
	margin: 0;
	padding: 0;
	background-image: url('../images/banner.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page_banner .banner_overly {
	margin: 0;
	padding: 240px 0 200px 0;
	
	background: linear-gradient(0deg,rgba(0,0,0,0),#093766);
}
.page_banner_contents {
	text-align: center;
	margin: 0;
	padding: 0;
}
.bread_crumb {
	display: block;
	margin: 0;
	padding: 0;
}
.bread_crumb ul {
	display: inline-block;
	list-style: none;
	margin: 0 auto 5px auto;
	padding: 0;
}
.bread_crumb ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.bread_crumb ul li a {
	display: block;
	color: #fff;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 500;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.bread_crumb ul li a img {
	display: inline-block;
	margin: 0 8px;
}
.page_banner_contents h1 {
	font-size: 85px;
	font-weight: 700;
	color: #fff;
	font-family: Montserrat;
	margin: 0;
	padding: 0;
}


/**=====*******code for About page*******=======****/
.si_history_section {
    padding: 38px 0 72px;
}
 .executive_heading {
    text-align: center;
    /*padding: 90px 0 68px;*/
}
.si_history_content img {
    margin: auto;
    display: block;
    margin-top: 88px;
}
.history_logo img  {
	   margin: auto;
    display: block;
}
.history_logo_heading h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 5px;
   	display: inline-block;
    padding-right: 5px;
    margin-bottom: 0;
}
.executive_heading h2 {
    margin-bottom: 0;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000;

}

.executive_heading h6{
	font-family: 'Lato', sans-serif; 
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #a1a1a1;
	letter-spacing: 5px;
	margin-bottom: 6px;
}

.si_history_content {
    padding: 0px 7%;
    margin-top: 45px;
    margin-bottom: 90px;
}
.si_history_content p {
    font-size: 18px; 
    font-family: 'Lato', sans-serif; 
    line-height: 28px;
    color: #7b7b7b;
    font-weight: 400;
    margin-bottom: 0;
}
.history_logo_area {
    margin: 46px 0 0px;
}
.executives_content{
	padding-bottom: 30px;
	margin-top: 68px;
}
.single_executive_content a{
	text-decoration: none;
}
.single_executive_content img {
    width: 100%;
}
.single_executive_content h4 {
    margin-top: 30px;
    margin-bottom: 10px;
	font-size: 12px;
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	text-transform: uppercase;
	display: block;
	color: #0d1a5b;

}
.single_executive_content h3{
	font-size: 18px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #000;
	margin-bottom: 45px;
}
.si_mision_and_vision_section {
    background-color: #f8f8f8;
	padding: 40px 0 50px;
    margin-bottom: 90px;
}
.mision_and_vision_content {
    height: 100%;
    position: relative;
}
.mision_and_vision_content h2 {
    font-size: 41px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #222222;
    margin: 0;
}
.mision_and_vision_content h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #282828;
    margin: 16px 0 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.mision_and_vision_content p {
    color: #7b7b7b;
    font-family: 'Lato', sans-serif; 
	font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
    font-size: 16px;
}
.mision_and_vision_content ul {
    margin: 0;
    padding: 0 0 0 15px;
}
.mision_and_vision_content ul li{
	 color: #7b7b7b;
    line-height: 24px;
    font-family: 'Lato', sans-serif; 
	font-weight: 400;
	font-size: 16px;
}
ul.mision_and_vision_value {
    padding-left: 30px;
}
a.si_read_more {
    position: absolute;
    bottom: -27px;
    display: block;
    left: 0;
}
a.si_read_more i{
	color: #515151;
}


/*****========== code fof Alliance page==========*****/
.si_alliances_content_area {
    padding: 55px 0;
}

.alliance_content h2 {
    font-size: 28px;
     font-family: 'Montserrat', sans-serif;

    font-weight: bold;
    color: #000;
}
.alliance_content p {
     font-family: 'Montserrat', sans-serif;
line-height: 22px;
    font-weight: 400;
    color: #7b7b7b;
    margin-bottom: 35px;
}
.alliance_content {
    padding: 0px 33px;
}
.alliance_content a {
    color: #000;
     font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.alliance_content i {
    color: #000;
}
.si_bg_color{
	background-color: #f8f8f8;
}

/*****============== code for customer-service page=======******************/
.si_customer_service_area{}
.si_customer_service_banner{
	margin-top: -23px;
}
.si_customer_service_banner img{
	width: 100%;
}
.si_cutomer_service_content{
	 padding: 68px 0 38px;
}
.si_custoemer_service_left{}
.si_custoemer_service_left h6{
	font-size: 12px;
	font-weight: 700;
	font-family: 'Lato', sans-serif; 
	color: #a1a1a1;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 0;
	margin-top: 10px;

}
.si_custoemer_service_left h3{
	font-size: 48px;
	font-weight: 700;
    font-family: Montserrat;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 0;

}
.si_custoemer_service_left img{
	margin-top: 32px;
}
.si_cusotmer_service_right{
	padding-left: 13px;
}
.si_cusotmer_service_right p{
	font-weight: 400;
	font-family: 'Lato', sans-serif; 
	color: #7b7b7b;
	font-size: 18px;
	line-height: 28px;
}
.si_cusotmer_service_right ul{
	padding: 0 0 0 16px;
	margin-bottom: 0;
}
.si_cusotmer_service_right ul li{
	font-weight: 400;
	font-family: 'Lato', sans-serif; 
	color: #7b7b7b;
	font-size: 18px;
}
.si_make_payment_section{
	background: url('../images/make-payment-bg.jpg');
	background-size: cover;
	background-color: #ddd;
	background-position: center;
	background-repeat: no-repeat;
	padding: 42px 0 44px;
}
.si_make_payment_content{}
.si_make_payment_content h6{
	font-size: 18px;
	font-weight: 700;
	font-family: 'Lato', sans-serif; 
	color: #ffffff;
	letter-spacing: 7px;
	text-transform: uppercase;	
	margin-bottom: 0;
}
.carousel-control-next, .carousel-control-prev{
	width: 10%;
}
.carousel-indicators{
	display: none;
}
.si_customer_service_carousel{
	margin-top: 65px;
}



.form_payment_submition{
	margin-top: 36px;
}
.si_form_group{
	margin-bottom: 0;
}
.si_form_group input{
	width: 75%;
    float: right;
	border-radius: 40px;
	height: 50px;
	padding-left: 30px;
	padding-right: 15px;

}
.si_form_group button{
	height: 50px;
	text-transform: capitalize;
	padding: 10px 40px 10px 62px;
	}
.si_form_group button i{
	margin-left: 6px;
	font-size: 12px;
}

/*******========= code for contact page by si========**********/
.si_contact_map {
    margin-top: -23px;
}
.si_contact_map iframe{
	width: 100%;
}
.si_contact_address_area{
	padding: 80px 0px 55px;
}
.si_address_box{}
.si_address_box i {
    display: block;
    width: 10%;
     height: 60px; 
    float: left;
    font-size: 30px;
    text-align: center;
    line-height: 32px;
    color: #0e1d61;
}
.si_address_info{
	float: left;
	width: 90%;
	box-sizing: border-box;
	padding-left: 30px;
}
.si_address_info h3{
	color: #000;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;


}
.si_address_info p{
	color: #7d7d7d;
	font-size: 15px;
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	margin-bottom: 0;
    line-height: 26px;
}
.si_address_info strong{
	color: #0c1a5a;
	font-size: 15px;
	font-weight: 400;
	 font-family: "Times New Roman";
}
.clear_both{
	clear: both;
}
.si_social_icon{}
.si_social_icon h2{
	color: #363636;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Lato', sans-serif; 
	margin-bottom: 18px;

}
.si_social_list{
	display: inline-block;
    margin: 0 auto;
    overflow: hidden;
}

.si_social_list a{
    display: inline-block;
    padding: 0;
    color: #A1A1A1;
    font-size: 24px;
    margin: 0px 6px;
    transition: all .5s;
    background: #f8f8f8;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;

}
.si_social_list a i {
    font-size: 30px;
}
.si_social_list a i:hover {
    color: #0e1d61;
}

.si_contact_form_area{}
.si_get_in_touch{}
.si_get_in_touch h2{
	color: #000;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	margin-top: 64px;
	margin-bottom: 70px
}
.si_contact_form input {
    /* background: red; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
	padding: 0 0 15px 0;
    color: #9fa4af;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif; 
}
.si_contact_form select {
    /* background: red; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0 0 15px 0;
    color: #9fa4af;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif; 
}
.si_contact_form select option{

}
.si_contact_form textarea {
    /* background: red; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0;
      color: #9fa4af;
	  font-size: 16px;
	  font-weight: 400;
	  font-family: 'Lato', sans-serif; 
	  margin-top: 20px;
	  margin-bottom: 72px;
}
.form-control::placeholder {
  color: #9fa4af;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', sans-serif; 


  
}
.form-control::-webkit-input-placeholder{
  color: #9fa4af;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', sans-serif; 
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}
.si_contact_form .form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0; */
}
.si_office_locations{
	padding: 96px 0 60px;
}
.si_office_heading{
	margin-bottom: 56px;
}
.si_office_heading h2{
	color: #000;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 9px;
	margin-bottom: 0;


}
.si_single_office h2{
	color: #0c1a5a;
	font-size: 32px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 16px;
}
.si_single_office h3{
	font-size: 15px;
	color: #363636;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-bottom: 10px;

}
.si_single_office h4{
	font-size: 15px;
	color: #363636;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-bottom: 12px;

}
.si_single_office p{
	color: #7d7d7d;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 5px;

}